<h1>Devices List</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Activated</th>
      <th>Name</th
      <th>Location</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td> 
        	<% if (device.follow == true) %>
		  		<i class="glyphicon glyphicon-ok"></i>
        	<% end %>
        </td>
        <td>
			<%= device.name %>
        </td>
        <td>
			<%= device.location %>
        </td>
        <td>
			<%= device.address %>
        </td>
     </tr>
    <% end %>
  </tbody>
</table>

