<h1>Sensor list of Device <%= @device.name %></h1>
<p>
  in <%= @device.location %> 
</p>
<p>
  <%= button_to "Refresh", "", { :onclick => "history.go(0)" }  %> 
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Flow ID</th>
      <th>Type</th>
      <th>Last value</th>
      <th>Operation on data</th>
      <th>Sample data</th>
    </tr>
  </thead>
  <tbody>
  <%= render @device.sensors %>
  </tbody>
</table>

