<% if @create_admin_account != nil && @create_admin_account == true then %>
<h2> Welcome in Web Monitor</h2>
<p>Before begining to register sensor and data, you must create an admin account</p>
<p>This admin account provides an <em>API key</em> to give in argument of post_data script </p>
<%= render 'form' %>
<% else %>

<% end %>
