<h1>User list</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>log name</th>
      <th>name</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>


