<% if object.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(object.errors.count, "erreur") %> 
        prohibited this project from being saved:</h5>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>