<div class="panel-body">
  <table class="table">
  <tbody>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        <% value, refresh_date = sensor_value(item.sensor_name, item.operation_name) %>
        <% if (value != nil) then %>
        <%= value %>
        <% else %>
          ---
        <% end %>
      </td>
      <td>
        <% if (refresh_date != nil) then %> 
        <%= time_ago_in_words(refresh_date) %>
        <% else %>
          ---
        <% end %>
      </td>
    </tr>
  </tbody>          
  </table>
</div>
