<tr>
  <td>
    <%= sensor.order %>
  </td>
  <td>
    <%= sensor.sensor_type %>
  </td>
  <td>
  </td>
  <td>
    <%= link_to 'Show operation', sensor_show_operation_path(sensor), class: 'btn btn-primary btn-xs' %>
  </td>
  <td>
    <%= link_to sensor_path(sensor), sensor_path(sensor) %>
  </td>          
</tr>
