<h1>Sample list <%= @sensor.sensor_type %></h1>
<p>in <%= @sensor.device.location %> </p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>date</th>
      <% case @sensor.sensor_type %>
      <% when "Temperature"  %>
        <th>temperature (°C)</th>
      <% when "Humidity" %>
        <th>humidity (°)</th>
      <% when "Voltage" %>
        <th>tension (V)</th>
      <% when "Pressure" %>
        <th>pressure (hPa)</th>
      <% when "ElectricalMeter" %>
        <th>electrical power (W) </th>
      <% when "ElectricalConsumption" %>
        <th>Electrical Energy (Wh)</th>
      <% else %>
        <th>data</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render 'shared/samples' %>
  </tbody>
</table>


