<tr>
  <td>
    <%= link_to report.name, report_path(report), class: 'btn-link'   %>
  </td> 
  <td>
    <%= report.user.user_name %>
  </td>
  <td>
    <% if ((current_user == report.user) || (current_user.admin?)) then %> 
    <%= link_to 'Edit', edit_report_path(report), class: 'btn btn-primary btn-xs'  %>
    <% end %>
  </td>        
  <td>
    <% if ((current_user == report.user) || (current_user.admin?)) then %> 
    <%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
    <% end %>
  </td>        
</tr>
