<h1>Temperature <%= @report.title %></h1>
<p>
  <%= line_chart [ { name: "Temperature", data: @series_a } ],
                     ytitle: "°C"  %>
</p>
<h1>Humidity <%= @report.title %></h1>
<p>
  <%= line_chart [ { name: "Humidity", data: @series_b } ],
                     ytitle: "°H"  %>
</p>

