<h1>Report list</h1>
<ul>
  <li>
    <%= link_to 'Add report', new_report_path %>
  </li>
</ul>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>owner</th>    
    </tr>
  </thead>
  <tbody>
    <%= will_paginate @reports %>
    <%= render @reports  %>
  </tbody>
</table>

