<h2>New Report</h2>
<ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Device List", devices_path %></li>
      <li><%= link_to "Back", reports_path%></li>
</ul>
<%= render "form"%>
